.u-f{
	display: flex;
}
.u-f-a{
	display: flex;
	align-items: center;
}

.u-f-ajc{
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-f-ajs{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.u-f-adc{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.blue-card-border{
	border: 4px solid #E2F0FC;
	border-radius: 16upx;
	background: #FFFFFF;
}